<div class="container">

    <div class="table-container">

        <button class="myButton add" (click)="goToAdd()">Add</button>

        <table class="table">
            <thead>
                <tr class="head">
                    <td>Name</td>
                    <td>Profession</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of info" (dblclick)="selected(person)">
                    <td>{{person.name}}</td>
                    <td>{{person.profession}}</td>
                </tr>
            </tbody>
        </table>
        
        <div>
            <div class="analysis-bar" *ngIf="goAnalysis">
                <div>
                Popular profession:                    
                    <div *ngIf="most"  style="font-weight: bold">{{most}}</div>
                    <div *ngIf="!most" style="color: green">{{mostMessage}}</div>
                </div>
                <div>
                Unpopular profession: 
                    <div *ngIf="little"  style="font-weight: bold">{{little}}</div>
                    <div *ngIf="!little"  style="color: green">{{littleMessage}}</div>
                </div> 
            </div>
        </div>
    </div>
    
    <div class="edit-container" *ngIf="toAdd || selectedPerson">

        <div class="update-buttons" *ngIf="selectedPerson && !toUpdate && !toRemove">
            <div class="add-buttons">
                <button class="button myButton" (click)="goToUpdate()">Update</button>
                <button class="button myButton" (click)="goToRemove()">Remove</button>
            </div>
            <button class="button myButton" (click)="cancel()">Cancel</button>
        </div>

        <div class="inputs" *ngIf="toUpdate">
            <input
                class="input"
                placeholder="Give new name"
                [(ngModel)]="selectedPerson.name">
            <input
                class="input"
                placeholder="Give new profession"
                [(ngModel)]="selectedPerson.profession">
            <div class="add-buttons">
                <button class="add-button myButton" (click)="update()">Update!</button>
                <button class="add-button myButton" (click)="cancel()">Cancel</button>
            </div>
        </div>
       
        <div class="inputs" *ngIf="toAdd && !selectedPerson">
            <input
                class="input"
                placeholder="Give new name"
                [(ngModel)]="newPerson.name">
            <input
                class="input"
                placeholder="Give new profession"
                [(ngModel)]="newPerson.profession">
            <div class="add-buttons">
                <button class="add-button myButton" (click)="add()">Add!</button>
                <button class="add-button myButton" (click)="cancel()">Cancel</button>
            </div>
        </div>

        <div class="inputs" *ngIf="toRemove">
            <div>Are you sure you want to delete {{selectedPerson.name}}?</div>
            <div class="add-buttons">
                <button class="add-button myButton" (click)="remove()">Remove!</button>
                <button class="add-button myButton" (click)="cancel()">Cancel</button>
            </div>
        </div>

        <div style="color:red" *ngIf="message">{{message}}</div>

    </div>
</div>
